@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
* {
    font-family: 'Staatliches';
    font-style: normal;
    font-size:16px;
}

/* If the screen size is 800px wide or less, set the font-size to 12px */
@media screen and (max-width: 800px) {
    * {
        font-size: 12px;
    }
}

body{
    min-height: 100vh !important;
    display:flex; 
    flex-direction:column;
}

html {
    height: 100vh;
}

iframe {
    display: none;
    height: 0px;
    width: 0px;
}

td {
    padding-bottom: 1em;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

#basketOffcanvas{
    display: flex !important;
}

#bottomInfo{
    padding-top: 2em;
}

#constPageForm{
    text-align: center;
    justify-content: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#infoCentre{
    width: 33%;
    padding-left: 1em;
}

#infoLeft{
    width: 33%;
    float: left;
}

#infoRight{
    width: 33%;
    float: right;
}

#homepageShopBtnDiv{
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 2em;
}

#homepageShopBtn{
    margin-left: auto; 
    margin-right: auto;
    width: 20%;
    font-size: xx-large;
}

#landingSignUp{
    padding-bottom: 5px;
}

#loading {
    padding-top: 1em;
    color: black;
    font-size: xx-large;
    text-align: center;
}

#navbarLogoL {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

#passPageForm {
    display: table;
}

#productBasketDiss{
    font-size: large;
}

#productQuantity{
    white-space: pre;
}

#procedeToCheckoutBtn {
    padding-right: 10px;
}

#procedeToCheckoutDiv{
    float: right;
    padding-right: 10px;
}

#topInfo {
    width: 100%;
    padding-top: 2em;
}

#topRightEnterPass {
    display: flex;
    float: right;
    width: 40%;
    justify-content: right;
}

#totalLeft {
    float: left;
}

.basket {
    color: rgba(255,255,255,.55);
    border: none;
}

.basket:hover {
    color: rgba(255,255,255,.75);
}

.basketItem {
    text-align: center;
    height: 65px;
}

/* now just for the image */
.basketItemContents {
    font-size: x-small;
    float: left;
    width: 20%;
}

.basketItemRemoveBtn {
    font-size: x-small;
    float: left;
    width: 20%;
    padding-top: 25px;
}

.basketItemPrice {
    font-size: x-small;
    float: left;
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 28px;
}

.basketItemQuantityBtn {
    font-size: x-small;
    float: left;
    width: 18%;
    padding-top: 25px;
    white-space: pre;
}

.basketItemText {
    font-size: x-small;
    float: left;
    width: 32%;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 28px;
}

.basketTotal {
    padding-left: 10px;
    text-align: left;
    font-size: x-small;
    margin: 0;
}

.btn-success {
    --bs-btn-bg: rgba(0,175,80,255);
    --bs-btn-border-color: rgba(0,175,80,255);
    background-color: rgba(0,175,80,255);
    border-color: rgba(0,175,80,255);
}

.btn-outline-success {
    --bs-btn-color: rgba(0,175,80,255);
    --bs-btn-border-color: rgba(0,175,80,255);
    --bs-btn-hover-bg: rgba(0,175,80,255);
    --bs-btn-hover-border-color: rgba(0,175,80,255);
    --bs-btn-active-bg: rgba(0,175,80,255);
    --bs-btn-active-border-color: rgba(0,175,80,255);
    --bs-btn-disabled-color: rgba(0,175,80,255);
    --bs-btn-disabled-border-color: rgba(0,175,80,255);
}

.carousel img {
    object-fit: contain;
}

.dropdown-menu{
    min-width: 320px;
}

.footerLogo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}

.landingLinkImgs{
    display: flex;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    width: 10%;
    /* height: 30%; */
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.logoLanding {
    display: block;
    width: 50%;
    /* height: 30%; */
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.pageInfo {
    padding-top: 50px;
}

.preAddToBasket {
    text-align: center;
    padding-top: 5px;
}

.productAddToBasket {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}

.productContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productLargeImg {
    width:200px;
    height:400px;
    padding-bottom: 1em;
}

.productSubtext{
    text-align:center;
    font-size:16px;
}

.productThumbnail {
    width: 120px;
    height: 200px;
    align-items:center;
}

.productThumbnailImage {
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
}

.productBasketImage{
    height:60px;
    width:40px;
}

.quantityButton {
    display: flex;
    justify-content: center;
    text-align: center;
    float: left;
    width: 100%;
}

.searchBar {
    width: fit-content;
    vertical-align: top;
}

.selectSize {
    padding-top: 5px;
}

.signUpForm{
    padding-top: 1em;
}

@media screen and (max-width: 1000px) {
    /* .productContainer{
        height:100px;
    } */
    #homepageShopBtn{
        width: 40%;
        font-size: x-large;
    }
    .productThumbnail {
        /* width: 60px;
        height: 100px; */
        vertical-align:central;
    }

    .logo{
        width: 30%;
    }

    /* .productThumbnailImage{
        max-height: 400px;
    } */
}

@media screen and (max-width: 700px) {
    .button {
        width:auto;
    }
    /* .productContainer {
        height: 80px;
    } */

    .productLargeImg{
        height: 350px;
    }
}


/* imported from old bootstrap documentation */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 4px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}